.git
.idea

DiningPhilosophers/bin
DiningPhilosophers/obj
DiningPhilosophers/appsettings.json
DiningPhilosophers.Contracts/bin
DiningPhilosophers.Contracts/obj
DiningPhilosophers.PhilosopherService/bin
DiningPhilosophers.PhilosopherService/obj
DiningPhilosophers.TableService/bin
DiningPhilosophers.TableService/obj
